// variables.scss

$base-bgcolor: #354152;
$base-color: #7e8ba3;
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;
$input-placeholder-color: #7e8ba3;
$link-color: #7e8ba3;
$grid-max-width: 25rem;
$grid-width: 100%;
